body{
    margin:0;
    padding:0;
    font-family:Arial, sans-serif;
    background:#111;
    color:white;
}

/* HEADER */

header{
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:2%;
    background:black;
    box-sizing:border-box;
    flex-wrap:wrap;
}

.logo img{
    width:8vw;
    min-width:200px;
    max-width:300px;
}

h1{
    font-size:3vw;
}

nav{
    display:flex;
    gap:2vw;
    flex-wrap:wrap;
}

nav a{
    color:white;
    text-decoration:none;
    font-size:1.5vw;
}

/* SECTION BIENVENUE */

.hero{
    width:90%;
    margin:auto;
    text-align:center;
    padding:5%;
}

.hero h2{
    font-size:4vw;
}

.hero p{
    font-size:1.8vw;
    line-height:1.8;
}

/* IMAGES */

.games{
    width:90%;
    margin:auto;
    padding-bottom:5%;
}

.images{
    display:flex;
    justify-content:center;
    gap:3%;
    flex-wrap:wrap;
}

.box{
    width:30%;
    margin-bottom:20px;
}

.box img{
    width:100%;
    border-radius:10px;
}

/* MOBILE */

@media(max-width:768px){

    header{
        flex-direction:column;
        text-align:center;
    }

    h1{
        font-size:7vw;
    }

    nav a{
        font-size:4vw;
    }

    .hero h2{
        font-size:8vw;
    }

    .hero p{
        font-size:4vw;
    }

    .box{
        width:90%;
    }
}